.title {
  padding: 15px 20px;
  font-size: 18px;
}

.divider {
  margin: 0;
  padding: 0;
}

.messages {
  padding: 20px;
  height: calc(100% - 160px);
  width: 100%;
  overflow: auto;
}

.input {
  border-radius: 0;
  border: none;
  resize: none !important;
}

.submitButton {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.chatHistoryButton {
  width: 100%;
  height: auto;
  padding: 10px;
}
